<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guanghuahe.cst2335_finalmilestone1">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OCTranspo.activity.OCTranspo"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".OCTranspo.adapters.DisplayStopInfor" />
        <activity android:name=".OCTranspo.adapters.DisplayRouteInfor"></activity>
        <activity
            android:name=".CBCWORLD.ArticleDetailActivity"
            android:parentActivityName=".CBCWORLD.CBCMainActivity">
        </activity>

        <activity android:name=".CBCWORLD.CBCMainActivity"/>

        <activity
            android:name=".CBCWORLD.WebViewActivity"
            android:parentActivityName=".CBCWORLD.CBCMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
        </activity>


        <activity android:name=".movie.activities.Movie"/>
        <activity android:name=".movie.activities.MovieDetail" />




        <activity android:name=".Food.FoodActivity"></activity>
        <activity android:name=".Food.FoodFavorites"></activity>


    </application>

</manifest>